/* colors:
background: #F2EAE2
card bg: #FFFFFF
title text: #1C232B
detail text: #F6C7289
button: #3D8168
button hover: #1A4032
*/
/*
fonts:
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
*/


* {
    background-color: #F2EAE2;
    font-family: 'Montserrat', sans-serif;
}